@model string
@{
    bool invalidUrl = string.IsNullOrEmpty(Model);
}

<div class="card border-secondary" style="margin-left:3%;margin-right:3%">
    <div style="margin-left:1%;margin-right:1%;margin-bottom:1%">
        @using (Html.BeginForm("Create", "Analysis", FormMethod.Post))
        {
            <div class="mb-3">
                <label for="extensionUrl" class="form-label">Insira a URL da página da extensão:</label>
                <input type="url" class="form-control" id="extensionUrl" name="extensionUrl" value="@Model">
            </div>
            <div class="row">
                <div class="col col-md-auto">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                <div class="col">
                    <div class="toast align-items-center text-white bg-danger border-0 @(invalidUrl? string.Empty : "show")" role="alert" aria-live="assertive" aria-atomic="true" style="width:25%"> 
                        <div class="d-flex">
                            <div class="toast-body">
                                Url não corresponde a uma extensão Chromium!
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>